.skeleton-card {
  width: 100%;
  aspect-ratio: 0.7;
  background: #f0f3ff;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skeleton-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0));
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton-text {
  background: #e0e0e0;
  border-radius: 4px;
}

.skeleton-header {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.skeleton-img {
  width: 70%;
  padding-top: 70%;
  height: 0;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
  background: #e0e0e0;
}

.skeleton-title {
  width: 80%;
  height: 20px;
  margin-top: auto;
  margin-bottom: 20px;
}
